* {
  margin: 0;
  padding: 0;
}

#header {
  font-family: 'Times New Roman', Times, serif;
  color: darkviolet;
  margin: 0.5%;
  background-color: lightpink;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  margin: 0.5%;
  background-color: bisque;
  height: 60vh;
  display: grid;
}

#sub1{
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#sub2{
  padding: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tile {
  height: 150px;
  width: 150px;
  background-color: aliceblue;
}

#container2 {
  margin: 0.5%;
  background-color: thistle;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.clicking {
  background-color: rosybrown;
  color: firebrick;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 80px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}